body{
  background-color: white;
  background-attachment: fixed;
}
.card{
 background-color: green ;
}
/* select button color change */
.not-complete{
  background-color: red;
}
.not-complete{
  background-color: red;
}
input{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #767676;
  padding: 5px;
 
}
input:focus{
  outline: 3px solid skyblue;
}
